.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: instaFont;
    src: url(Fontspring-DEMO-blue_vinyl_regular_ps_ot.otf);
}

.login-form {
    margin-top: 15px;
    background-color: #ffffff;
    padding: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 0px;
    text-align: center;
}

h1 {
    font-family: 'instaFont';
    font-weight: lighter;
    font-size: 72px;
    margin-bottom: 40px;
}


input {
    width: 85%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fafafe;
    border: 1px solid #dbdbdb;
    border-radius: 7px;
    font-size: 16px;
}

button {
    width: 92%;
    font-size: 16px;
    padding: 15px;
    margin-top: 10px;
    background-color: #3897f0;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor:not-allowed;

}

.links {
    margin-top: 30px;
    font-size: 16px;
}

.links a {
    text-decoration: none;
    color: #4267B2;
}

.fb a{
    color: #4267B2;
    font-weight: bold;
    text-decoration: none;
}

.separator {
    margin: 0 10px;
}

.or-divider {
    display: flex;
    align-items: center;
    margin: 20px;
}

.left-line,
.right-line {
    flex-grow: 1;
    height: 1px;
    background-color: #dbdbdb;
}

.or-text {
    font-family: 'Arial';
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    color: #999;
}

img {
    height: 25px;
    width: 25px;
    margin-right: 12px;
}

a {
    font-family: 'Arial';
    font-weight: lighter;
    margin-bottom: 20px;
    font-size: 20px;
}

.login-btn:hover {
    background-color: #3182ce;
}

.container2 {
    text-size-adjust: 16px;
    max-width: 580px;
    display: flex;
    margin: 0 auto;
}

.signup-form {
    border: 2px solid #dbdbdb;
    padding: 30px;
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
    text-align: center; 
}

.signup-form a {
    text-decoration: none;
    margin-left: 10px;
    color: #000; 
}

.signup-form a.signup-link {
    font-weight: bold;
    color: #3897f0;

}
